
/* application style */ 

body {
    background-color: #f1f1f1;
}

.navbar-inverse {
    background-color: #2c8d53;
    border-color: #2c8d54;
}

.navbar-inverse .navbar-brand {
    color: white;
}

/* form validation */
.ng-invalid{
	border-color: red;
}
.ng-dirty.ng-valid{
	border-color: green;
}


/* pie chart style */

path{
  stroke: white;
  stroke-width: 4px;
}

text{
	text-anchor: middle;
	font-family: Helvetica;
	font-size: 1.5em;
	fill: white;	
}
article{
	padding:1em;
	
}
svg{
	margin: 0 auto;
	display: block;
}


